ipykernel
langchain
python-dotenv
pydantic
sentence_transformers
pypdf
# WebBaseLoader
beautifulsoup4 
requests
lxml
arxiv
pymupdf
wikipedia
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
langchain_chroma
langchain_community
streamlit